/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
* {
  font-family: 'Source Code Pro', monospace;
}

.router {
  /* margin-top: 50px; */
  background-color: #C1C9C1;
  text-align: center;
  box-sizing: border-box;
}

.headerLogin{  font-size: 42px;
  font-weight: bolder;
}

.oauth{
  color: #414941;
  margin-bottom: none;
  padding-top: 100px;
}
.headerMainContainer {
  color: #414941;
  font-size: 42px;
  font-weight: bolder;
  margin-bottom: none;
  /* margin-top: 100px; */
}
.landingClick{
  color: #414941;
  font-weight: lighter;
}

.greeting{
  color:  rgb(73,65,73);
  font-size: 28px;
}
/* h1 {
  text-align: center;
} */
.MainContainer{
  color: rgb(73,65,73);
  /* border: solid 4px white; */
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.csvButton {  
  color: rgb(73,65,73);
  margin: 10px;
  margin: 10px;
  height: 80px;
  width: 200px;
  border-radius: 20px;
}

ul{
  list-style-type: none;
  text-align: center;
}
.checkBox {
  display: flex;
  margin: 2px;
  /* border: solid, 4px, blueviolet ; */
  /* background-color: aquamarine; */
  text-align:center;
  align-content:center;
}

.dataDisplay{
  margin: 10px;
  /* border: solid 4px #414941; */
  border-radius: 5px;
  background-color: rgb(201,193,201);
  height: 150px;
  width: 600px; 
  box-shadow: 2px 2px 8px #626E62;
  /* line-height: 3em;  */
  overflow: scroll; 
  overflow-x:hidden;
  /* padding: 5px; */
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.3); 
  border-radius: 25px;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5); 
}

button:hover {
  cursor: pointer;
}
.submitButton{
  color: rgb(73,65,73);
  margin: 10px;
  margin: 10px;
  height: 80px;
  width: 200px;
  border-radius: 20px;
}

.repoGrabber {
  /* border: 5px, solid, blueviolet  ;
  background-color: aquamarine; */
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
}

.octoCat {
  margin-top: 50px;
  padding: 20px;
  height: 200px;
  width: 250px;
}
