@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  font-family: 'Source Code Pro', monospace;
  background-color: seagreen;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding-top: 100px;
}

/* h1 {
  text-align: center;
} */

ul{
  list-style-type: none;
  /* border: 5px, solid, blueviolet  ;
  align-items: center; */
  /* background-color: aquamarine;  */
}
/* ul .repo {
  border: 5px, solid, blueviolet  ;
  background-color: aquamarine;
    display: flex;
  flex-direction: column;
  align-content: space-between;
} */

/* .repoGrabber {
  border: 5px, solid, blueviolet  ;
  background-color: aquamarine;
  /* display: flex;
  flex-direction: column;
  align-content: space-between; 
} */

.octoCat {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 200px;
  width: 250px;
}