/* @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
* {
  font-family: 'Source Code Pro', monospace;
}

.router {
  margin-top: 50px;
  background-color: #C1C9C1;
  text-align: center;
  box-sizing: border-box;
}
.header {
  color: #414941;
  font-size: 42px;
  font-weight: bolder;
  /* margin-top: 100px; */
}
.landingClick{
  color: #414941;
  font-weight: lighter;
}

.greeting{
  color:  rgb(73,65,73);
  border: solid 4px  purple; 
}
/* h1 {
  text-align: center;
} */
.MainContainer{
  border: solid 4px white;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#greetingID {grid-area: greet;}
#greetingDetail {grid-area: detail;}
#repoGrabberID {grid-area: repos;}
#dataDisplayID {
  text-align: center;
}
#csvExportID {  
  margin: 10px;
  margin: 10px;
  height: 100px;
  width: 200px;}

ul{
  list-style-type: none;
  text-align: center;
}
.checkBox {
  display: flex;
  margin: 10px;
  border: solid, 4px, blueviolet ;
  background-color: aquamarine;
  text-align:center;
  align-content:center;
}

.dataDisplay{
  margin: 10px;
  border: solid 4px black;
  background-color: rgb(201,193,201);
  height: 150px;
  width: 600px; 
  line-height: 3em; 
  overflow: scroll; 
  padding: 5px;
}

.submitButton{
  margin: 10px;
  margin: 10px;
  height: 100px;
  width: 200px;
}

.repoGrabber {
  /* border: 5px, solid, blueviolet  ;
  background-color: aquamarine; */
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
}

.octoCat {
  margin-top: 50px;
  padding: 20px;
  height: 200px;
  width: 250px;
}
